.container {
    border-radius: 2px solid black; /* Length of border */
}

.logo img {
    width: 10%;
    height: 10%; 
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu img {
    width: 10%;  
    height: auto;  
    display: block; 
    margin-bottom: 10px; 
}

h2 {
    color: rgb(36, 121, 120);
}

blockquote {
    background-color: rgba(36, 121, 120, 0.6);
    color: grey;
    font-style: italic;
    border-left: 4px solid rgb(36, 121, 120);
    padding-left: 1em;
    margin-left: 20px;
}