/* Adjust the styles for the body */
body {
    background-color: beige;
} 

/* Adjust the styles for the heaadings */
h1 {
    color: red;
}

h2 {
    font-style: italic;
    border-bottom: 3px solid darkred;
}

/* Adjust the styles for the unordered list */
ul {
    list-style-type: square;
}