/* Proper resize with a border and padding */
form {
    width: 75%;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid rgb(36, 131, 120); /* Border color (36, 131, 120) */
    background-color: white;
}

/* Title font style */
#title {
    color: rgb(36, 121, 120);
    font-size: 1.5em;
}

/* Vertical align between labels */
label{
    display: bottom;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* Adjust label and input alignment with Flexbox */
.in4 .row{
    display: flex;
    align-items: center;
}

.in4 .col-md-4{
    text-align: right;
    padding-right: 1rem;
}

.in4 .col-md-8 {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid;
}

/* Button style */
button[type="submit"] {
    color: white;
    background-color: grey;
}